<template>
    <div class="section--meet-the-devs">
        <v-container px-4 py-2 fluid>
            <v-layout class="page-header" wrap row>
                <v-flex ma-5 pa-5 md12>
                    <div>
                        <p color="red" class="text-center display-3">Meet the Developers</p>
                    </div>
                </v-flex>
            </v-layout>
            <v-layout class="text-center avatar-container" row wrap>
                <div class="avatars text-center" v-for="(dev) in devs" :key="dev.name">
                    <v-hover v-slot:default="{ hover }">
                        <v-card flat class="mx-auto text-center" color="lighten-4" width="350">                        
                            <v-card-text class="pt-6" style="position: relative;">
                                <v-avatar size="250">
                                    <v-img class="developer-avatar" :aspect-ratio="1" :src="getAvatar(dev.id)">
                                        <v-expand-transition>
                                            <div v-if="hover" class="d-flex transition-fast-in-fast-out orange darken-2 v-card--reveal display-3 white--text" style="height: 100%;"></div>
                                        </v-expand-transition>
                                    </v-img>
                                </v-avatar>
                                <h3 class="pt-2 headline font-weight-light orange--text mb-2">
                                    {{ dev.name }}
                                    <div class="font-weight-light white--text subtitle-1 mb-2">
                                        {{ dev.position }}
                                    </div>
                                </h3>                            
                            </v-card-text>
                        </v-card>
                    </v-hover>
                </div>
                
                <!-- <v-flex 
                    class="text-center" 
                    pa-2 pb-4 xs12 sm6 md3 
                    v-for="(dev) in devs" 
                    :key="dev.name">
                    
                    <v-avatar size="200">
                        <v-img 
                            :src="getAvatar(dev.id)"
                            :lazy-src="getAvatar(dev.id)"
                            aspect-ratio="1"
                            class="grey lighten-2">
                            <template v-slot:placeholder>
                                <v-row
                                    class="fill-height ma-0"
                                    align="center"
                                    justify="center">
                                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                </v-row>
                            </template>
                        </v-img>
                    </v-avatar>
                    <p dark class="pt-2 pb-0 headline font-weight-thin">{{dev.name}}</p>
                    <span class="pa-0 sub-title1 font-weight-thin">{{dev.position}}</span>
                </v-flex> -->
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    export default {
        name: 'MeeetTheDevelopers',
        methods: {
            getAvatar(id) {
                return require(`@/assets/images/avatars/${id}.jpg`)
            }
        },
        data: () => ({
            sample: '@/assets/images/avatars/1.jpg',
            devs: [
                { id: 1, name: 'Jayson Mag-isa', img: '', position: 'Senior Fullstack Developer / Team Lead', group: 1 },
                { id: 2, name: 'Ardee Ayes', img: '', position: 'Senior Fullstack Developer', group: 1 },
                { id: 3, name: 'Nathanael Lerit', img: '', position: 'Senior Frontend Developer', group: '2' },
                { id: 4, name: 'Karlmarx Fabe', img: '', position: 'Mid Frontend Developer', group: '2' },
                { id: 5, name: 'Patrick De Jesus', img: '', position: 'Senior Backend Developer / Project Lead', group: '3' },
                { id: 6, name: 'Mel Reyes', img: '', position: 'Mid Backend Developer', group: '3' },
                { id: 7, name: 'Gilbert Tuazon', img: '', position: 'Junior Backend Developer', group: '3' },
                { id: 8, name: 'Alexander Paul Quinit', img: '', position: 'Mid Backend Developer', group: '3' },
                { id: 9, name: 'Jeferson Nerves', img: '', position: 'Mid Fullstack Developer', group: '3' },
                { id: 10, name: 'Patrick Yebra', img: '', position: 'Senior System Analyst', group: '4' },
            ]
        })
    }
</script>

<style lang="scss" scoped>
    .v-card--reveal {
        align-items: center;
        bottom: 0;
        justify-content: center;
        opacity: .5;
        position: absolute;
        width: 100%;
    }
</style>