<template>
    <div class="section--hr-forms">
        <v-container fluid>
            <v-layout class="page-header">
                <v-toolbar dark class="no-color" flat>
                    <v-toolbar-title>Leave Request Form</v-toolbar-title>
                    <div class="flex-grow-1"></div>
                    <v-toolbar-items></v-toolbar-items>
                    
                    <FormRequest></FormRequest>
                
                </v-toolbar>
            </v-layout>
            <v-layout>
                <v-flex md12>
                    <v-data-table dark color="red"
                        :headers="headers"
                        :items="form_records"
                        :items-per-page="10"
                        class="elevation-1">
                    </v-data-table>
                </v-flex>
                <v-card-actions></v-card-actions>
            </v-layout>
        </v-container>
    </div>
</template>

<script>

    import { mapActions, mapMutations} from "vuex"
    import { mapFields } from 'vuex-map-fields'
    import FormRequest from '../../components/Forms/RequestForm'

    export default {
        name: 'HRForms',
        components:{
            FormRequest
        },
        computed: {
            ...mapFields('form', ['form_records']),
        },

        mounted(){
            this.getAllFormRecords()
        },

        methods: {
            ...mapActions('form', ['getAllFormRecords']),
            ...mapMutations('utils', ['toggleLoader', 'toggleSnackbar']),
        },

        data: () => ({
            headers:[
                { text:'ID', value: 'id'},
                { text:'Employee Number', value: 'employee_number', sortable:false},
                { text:'Employee Name', value: 'employee_name', sortable:false},
                { text:'Position', value: 'position', sortable:false},
                { text:'Department', value: 'department', sortable:false},
                { text:'Date Filed', value: 'created_at', },
                { text:'Date Hired', value: 'date_hired', sortable:false},
                { text:'Type Of Request', value: 'type_of_request', sortable:true },
                { text:'Status', value: 'status', sortable:true},
            ],
        })
    }
</script>



<style lang="scss" scoped>

</style>