<template>
    <div class="section--conference">

        <v-btn v-if="$vuetify.breakpoint.smAndUp" @click="dialog = true" color="secondary">
            New Schedule
        </v-btn>
        <v-btn fab small depressed v-else @click="dialog = true" color="secondary">
            <v-icon>mdi-calendar-plus</v-icon>
        </v-btn>
        
        <v-dialog persistent width="700" v-model="dialog">
            <v-card>
                <v-card-title>New Schedule</v-card-title>
                <v-card-text>
                    <v-layout row wrap>
                        <v-flex pa-2 xs12>
                            <v-text-field
                                outlined
                                label="Summary"
                                v-model="form.name">
                            </v-text-field>
                        </v-flex>
                        <v-flex pa-2 xs6>
                            <date-time-picker
                                :date_range="true"
                                :display="'input'"
                                :type="'multi'"/>
                            <!-- <v-text-field
                                outlined
                                label="Start"
                                v-model="form.start">
                            </v-text-field> -->
                        </v-flex>
                        <v-flex pa-2 xs6>
                            <v-text-field
                                outlined
                                label="End"
                                v-model="form.end">
                            </v-text-field>
                        </v-flex>
                        <v-flex pa-2 xs6>
                            <v-text-field
                                outlined
                                label="Room"
                                v-model="form.room">
                            </v-text-field>
                        </v-flex>
                        <v-flex pa-2 xs6>
                            <v-text-field
                                outlined
                                label="Color"
                                v-model="form.color">
                            </v-text-field>
                        </v-flex>
                        <v-flex pa-2 xs12>
                            <v-text-field
                                outlined
                                label="Details/Description"
                                v-model="form.description">
                            </v-text-field>
                        </v-flex>
                    </v-layout>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error" @click="cancel">Cancel</v-btn>
                    <v-btn 
                        class="ma-1" color="success" 
                        @click="addConference">
                        Submit 
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>

    import { mapMutations} from "vuex"
    import { mapFields } from 'vuex-map-fields'

    
    export default {
        name: 'Conference',
        computed: {
            
        },

        methods: {
            ...mapMutations('utils', ['toggleLoader']),
            addConference(){
                this.toggleLoader()
                this.dialog = false
                this.toggleLoader()
            },
            cancel() {
                this.dialog = false
            }
        },

        data: () => ({
            dialog: false,
            form: {
                summary: '',
                start: '',
                end: '',
                room: '',
                description: '',
                color: '',
            },
        })
    }
</script>