<template>
    <div class="view-event">
        <v-menu
            v-model="dialog"
            :close-on-content-click="false"
            :activator="selectedElement"
            full-width
            offset-x>
            <v-card
                color="grey lighten-4"
                min-width="350px"
                flat>
                <v-toolbar :color="selectedEvent.color" dark>
                    <v-btn icon>
                        <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                    <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon>
                        <v-icon>mdi-heart</v-icon>
                    </v-btn>
                    <v-btn icon>
                        <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-card-text>
                    <span v-html="selectedEvent.details"></span>
                </v-card-text>
                <v-card-actions>
                <v-btn
                    text
                    color="secondary"
                    @click="dialog = false">
                    Cancel
                </v-btn>
            </v-card-actions>
            </v-card>
        </v-menu>
    </div>
</template>

<script>
    export default {
        name: 'ViewEvent',
        props: {
            selectedElement: {
                default: null
            },
            selectedEvent: {
                default: {}
            },
            selectedOpen: {
                default: false,
            }
        },
        watch: {
            selectedOpen: {
                handler() {
                    this.dialog = this.selectedOpen
                },
                deep: true
            }
        },
        data: () => ({
            dialog: false,
        })
    }
</script>

<style lang="scss" scoped>

</style>