<template>
    <div class="section--settings">
        <v-container px-4 py-2 fluid fill-height>
            <v-layout wrap row>
            
            </v-layout>
        </v-container>
    </div>
</template>

<script>

    export default {
        name: 'Settings',
        data: () => ({

        })
    }
</script>

<style lang="scss" scoped>

</style>