.statistics-card, .activity-today {
    .v-card {
        border: none !important;

        .v-list {
            background: none !important;
        }

    }
}

.v-application--wrap {
    background: url('assets/images/subtle.png') !important;
}