// MODAL/DIALOG CUSTOMIZED UI
.v-dialog {
    .v-card {
        &.theme--dark {
            .v-card__text {
            }
        }
        &.theme--light {
            .v-card__text {
            }
        }
    }
}

.page-header {
    z-index: 4;
    position: relative;
    .no-color {
        background: url('assets/images/subtle.png') !important;
    }
}

#siis {
    background: $SCHEME7 !important;

    .v-app-bar {
        background-color: $BACKGROUND_TERNARY;
    }

}

.v-navigation-drawer {

    .v-navigation-drawer__content {
        background-color: $SCHEME8;
        .v-list-item {
            position: relative;
            overflow: hidden !important;
            .v-list-item__content {
                position: absolute;
                height: 100%;
                width: 100%;
                padding: 0 !important;
                a {
                    height: 100%;
                    width: 100%;
                    display: flex !important;
                    &.router-link-exact-active {
                        &:before {
                            background-color: $SCHEME2 !important;
                            position: absolute !important;
                            height: 100% !important;
                            width: 10px !important;
                            text-indent: 20px;
                            overflow: hidden;
                            content: ".";
                        }
                        
                    }
                    .v-list-item__title {
                        padding: 0 32px !important;
                    }
                }
            }
            padding: 0px !important;
            a {
                margin-bottom: 0 !important;
                text-decoration: none;
                color: inherit;
            }
        }
        .app-title-container {
            background-color: $SCHEME2;
            padding: 16px !important;
            .app-title-avatar {
                display: contents;
            }
        }
    }
}