<template>
    <div class="section--conference">
        <v-container fluid>
            <v-layout class="page-header">
                <v-toolbar dark class="no-color" flat>
                    <v-toolbar-title>Calendar of Activities</v-toolbar-title>
                    <div class="flex-grow-1"></div>
                    <v-toolbar-items></v-toolbar-items>
                    <add-conference />
                </v-toolbar>
            </v-layout>

            <v-layout px-5 wrap row>
                <v-flex md12>
                    <v-row class="fill-height">
                        <v-col>
                            <v-sheet height="64">
                                <v-toolbar flat color="white">
                                    
                                    <v-btn
                                        v-if="$vuetify.breakpoint.smAndUp"
                                        outlined class="mr-4"
                                        @click="setToday">
                                        Today
                                    </v-btn>
                                    <v-btn
                                        v-else dark fab icon x-small
                                        outlined class="mr-4 secondary"
                                        @click="setToday">
                                        <v-icon>mdi-calendar-today</v-icon>
                                    </v-btn>

                                    <v-btn fab text small @click="prev">
                                        <v-icon small>mdi-chevron-left</v-icon>
                                    </v-btn>
                                    <v-btn fab text small @click="next">
                                        <v-icon small>mdi-chevron-right</v-icon>
                                    </v-btn>

                                    <v-toolbar-title>{{ title }}</v-toolbar-title>
                                    <v-spacer></v-spacer>
                                    <v-menu bottom right>
                                        <template v-slot:activator="{ on }">
                                            <v-btn 
                                                v-if="$vuetify.breakpoint.smAndUp"
                                                outlined v-on="on">
                                                <span>{{ typeToLabel[type] }}</span>
                                                <v-icon right>mdi-menu-down</v-icon>
                                            </v-btn>
                                            <v-btn 
                                                v-else small
                                                outlined v-on="on">
                                                <span>{{ typeToLabel[type] }}</span>
                                                <v-icon right>mdi-menu-down</v-icon>
                                            </v-btn>
                                        </template>
                                        <v-list>
                                            <v-list-item @click="type = 'day'">
                                                <v-list-item-title>Day</v-list-item-title>
                                            </v-list-item>
                                            <v-list-item @click="type = 'week'">
                                                <v-list-item-title>Week</v-list-item-title>
                                            </v-list-item>
                                            <v-list-item @click="type = 'month'">
                                                <v-list-item-title>Month</v-list-item-title>
                                            </v-list-item>
                                            <v-list-item @click="type = '4day'">
                                                <v-list-item-title>4 days</v-list-item-title>
                                            </v-list-item>
                                        </v-list>
                                    </v-menu>
                                </v-toolbar>
                            </v-sheet>
                            
                            <v-sheet height="600">
                                <v-calendar
                                    ref="calendar"
                                    v-model="focus"
                                    color="primary"
                                    :events="events"
                                    :event-color="getEventColor"
                                    :event-margin-bottom="3"
                                    :now="today"
                                    :type="type"
                                    @click:event="showEvent"
                                    @click:more="viewDay"
                                    @click:date="viewDay"
                                    @change="updateRange">
                                </v-calendar>
                                <view-event 
                                    :selectedElement="selectedElement"
                                    :selectedEvent="selectedEvent"
                                    :selectedOpen="selectedOpen">
                                </view-event>
                            </v-sheet>
                        </v-col>
                    </v-row>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>

    import AddConference from '../../components/Conference/AddConference'
    import ViewEvent from '../../components/Conference/ViewEvent'
    import moment from 'moment'

    export default {
        name: 'Conference',
        components: { AddConference, ViewEvent },
        computed: {
            title () {
                let temp = ''
                const { start, end } = this
                if (!start || !end) {
                    return ''
                }

                const startMonth = this.monthFormatter(start)
                const endMonth = this.monthFormatter(end)
                const suffixMonth = startMonth === endMonth ? '' : endMonth

                const startYear = start.year
                const endYear = end.year
                const suffixYear = startYear === endYear ? '' : endYear

                const startDay = start.day + this.nth(start.day)
                const endDay = end.day + this.nth(end.day)

                switch (this.type) {
                case 'month':
                    temp = `${startMonth} ${startYear}`
                    break
                case 'week':
                case '4day':
                    temp = `${startMonth} ${startDay} ${startYear} - ${suffixMonth} ${endDay} ${suffixYear}`
                    break
                case 'day':
                    temp = `${startMonth} ${startDay} ${startYear}`
                    break
                }
                return this.$vuetify.breakpoint.smAndUp ? temp : moment(temp).format('MMM YYYY')
            },
            monthFormatter () {
                return this.$refs.calendar.getFormatter({
                    timeZone: 'UTC', month: 'long',
                })
            },
        },

        mounted () {
            this.toggleLoader()
            this.$refs.calendar.checkChange()
            this.toggleLoader()
        },

        methods: {
            viewDay ({ date }) {
                this.focus = date
                this.type = 'day'
            },
            getEventColor (event) {
                return event.color
            },
            setToday () {
                this.focus = this.today
            },
            prev () {
                this.$refs.calendar.prev()
            },
            next () {
                this.$refs.calendar.next()
            },
            showEvent ({ nativeEvent, event }) {
                const open = () => {
                    this.selectedEvent = event
                    this.selectedElement = nativeEvent.target
                    setTimeout(() => this.selectedOpen = true, 10)
                }

                if (this.selectedOpen) {
                    this.selectedOpen = false
                    setTimeout(open, 10)
                }
                else {
                    open()
                }

                nativeEvent.stopPropagation()
            },
            updateRange ({ start, end }) {
                // You could load events from an outside source (like database) now that we have the start and end dates on the calendar
                this.start = start
                this.end = end
            },
            nth (d) {
                return d > 3 && d < 21
                ? 'th'
                : ['th', 'st', 'nd', 'rd', 'th', 'th', 'th', 'th', 'th', 'th'][d % 10]
            },
        },

        data: () => ({
            today: moment().format('YYYY-MM-DD'),
            focus: moment().format('YYYY-MM-DD'),
            type: 'month',
            typeToLabel: {
                month: 'Month',
                week: 'Week',
                day: 'Day',
                '4day': '4 Days',
            },
            start: null,
            end: null,
            selectedEvent: {},
            selectedElement: null,
            selectedOpen: false,
            events: [
                {
                    name: 'Vacation',
                    details: 'Going to the beach!',
                    start: '2019-10-08',
                    end: '2019-10-09',
                    room: '301',
                    description: 'Sample Test',
                    color: '#ff0000',
                },
                {
                    name: 'Meeting',
                    details: 'Spending time on how we do not have enough time',
                    room: '304',
                    description: 'Sample Test',
                    start: '2019-10-07 09:00',
                    end: '2019-10-07 12:30',
                    room: '304',
                    description: 'Sample Test',
                    color: 'indigo',
                },
                {
                    name: 'Large Event',
                    details: 'This starts in the middle of an event and spans over multiple events',
                    start: '2019-10-06 09:30',
                    end: '2019-10-08 10:30',
                    room: '308',
                    description: 'Sample Test',
                    color: 'deep-purple',
                },
                {
                    name: 'Presentation',
                    details: 'Spending time on how we do not have enough time',
                    room: '305',
                    description: 'Sample Test',
                    start: '2019-10-07 09:00',
                    end: '2019-10-07 11:30',
                    room: '304',
                    description: 'Sample Test',
                    color: 'pink',
                },
                {
                    name: 'Meeting',
                    details: 'Spending time on how we do not have enough time',
                    room: '304',
                    description: 'Sample Test',
                    start: '2019-10-07 09:00',
                    end: '2019-10-07 10:30',
                    room: '501',
                    description: 'Sample Test',
                    color: 'orange',
                },
            ],
        }),
    }
</script>

<style lang="scss" scoped>
    // events: [
    //     {
    //         name: 'Bubble Party',
    //         start: '2019-01-07 07:00',
    //         end: '2019-01-07 08:30',
    //         room: 'Room 304'
    //         description: 'Some extra info.',
    //         color: '#ff0000',
    //     },
    //     {
    //         name: 'Kickoff Meeting',
    //         start: '2019-01-07 09:00',
    //         end: '2019-01-07 09:30',
    //         room: 'Room 301'
    //         description: 'Some extra info.',
    //         color: '#ffff00',
    //     },
    // ]
</style>

