<template>
    <div class="section--dashboard">
        <v-container px-4 py-2 fluid v-if="!$vuetify.breakpoint.smAndDown">        
            <v-layout wrap row>
                <v-flex pa-2 xs12 sm6 md4 lg4 xl4 v-for="stat in statistics" :key="stat.title">
                    <statistics-card
                        :title="stat.title"
                        :body="stat.body"
                        :icon="stat.icon"
                        :card_value="stat.value"
                        :dark="true" />
                </v-flex>
            </v-layout>
        </v-container>
        <v-divider></v-divider>
        <v-container>
            <v-layout wrap row>
                <v-flex pa-2 xs12 sm12 md6 lg6 xl6>
                    <activity-summary 
                        :fill="false"/>
                </v-flex>
                <v-flex pa-2 xs12 sm12 md6 lg6 xl6>
                    <activity-summary
                        :fill="true"
                        :padding="10"
                        :radius="20" />
                </v-flex>
            </v-layout>
        </v-container>
        <v-divider></v-divider>
        <v-container px-4 py-2 fluid>
            <v-layout wrap row>
                <v-flex pa-2 xs12 sm12 md6 lg6 xl6>
                    <activity-today />
                </v-flex>
                <v-flex pa-2 xs12 sm12 md6 lg6 xl6>
                    <sampler />
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>

    import { mapFields } from 'vuex-map-fields'
    import StatisticsCard from '../../components/base/StatisticsCard'
    import ActivitySummary from '../../components/base/Sparklines'
    import ActivityToday from '../../components/Dashboard/ActivityToday'
    import Sampler from '../../components/base/ComponentSampler'
    
    export default {
        name: 'MainDashboard',
        components: { StatisticsCard, ActivitySummary, ActivityToday, Sampler },
        computed: {
            ...mapFields('utils', ['dealers'])
        },
        mounted() {
            this.toggleLoader()
            this.toggleLoader()
        },
        methods: {
            
        },
        data: () => ({
            statistics: [
                { title: 'Employees', body: 'Body here... please check the item.', icon: 'mdi-person', value: '900' },
                { title: 'Projects', body: 'Body here... please check the item.', icon: 'mdi-person', value: '14' },
                { title: 'Departments', body: 'Body here... please check the item.', icon: 'mdi-person', value: '6' }
            ]
        })
    }
</script>

<style lang="scss" scoped>

</style>