<template>
  <div class="section--timekeeping">
    <v-container fluid>

      <v-layout class="page-header">
        <v-toolbar dark class="no-color" flat>

          <v-toolbar-title>Employee Logs</v-toolbar-title>
          <div class="flex-grow-1"></div>
          
          <template>
            <date-time-picker 
              :label="'Select date'"
              :dark="false"
              :outlined="false"
              :time_picker="false"
              @on_date_selected=""/>

            <div class="text-center" v-if="$vuetify.breakpoint.mdAndUp">
              <v-btn class="ma-1" color="success" @click="openSearchDialog">
                Filter
              </v-btn>
              <v-btn class="ma-1" color="success" @click="openAddDialog">
                Add New
              </v-btn>
              <v-btn class="ma-1" color="success" @click="multipleDownload" :disabled="(logs === undefined || logs.length < 1)">
                Download All
              </v-btn>
            </div>

            <div class="text-center" fab small depressed v-else>
              <v-btn class="ma-1" color="success" @click="openSearchDialog">
                <v-icon>mdi-magnify</v-icon>
              </v-btn>
              <v-btn class="ma-1" color="success" @click="openAddDialog">
                <v-icon>mdi-plus</v-icon>
              </v-btn>
              <v-btn class="ma-1" color="success" @click="multipleDownload">
                <v-icon>mdi-download</v-icon>
              </v-btn>
            </div>
          </template>

        </v-toolbar>
      </v-layout>

      <v-layout>
          <v-flex md12>
              <result-log></result-log>
          </v-flex>
          <v-card-actions></v-card-actions>
      </v-layout>

      <search-log></search-log>
      <add-log></add-log>
      <update-log></update-log>

    </v-container>
  </div>
</template>

<script>
  import moment from 'moment'
  import { mapActions } from 'vuex'
  import { mapFields } from 'vuex-map-fields'
  import DateTimePicker from '../../components/base/DateAndTimePicker'
  import SearchLog from '../../components/Timekeeping/SearchLog'
  import ResultLog from '../../components/Timekeeping/ResultLog'
  import AddLog from '../../components/Timekeeping/AddLog'
  import UpdateLog from '../../components/Timekeeping/UpdateLog'

  export default {
    name: 'Timekeeping',
    computed: {
        ...mapFields('timekeeping', 
        [
          'logs',
          'date_from',
          'date_to',
          'keyword',
          'level',
          'job_title',
          'search_dialog',
          'add_log_dialog'
        ]
      )
    },
    components: { DateTimePicker, SearchLog, ResultLog, AddLog, UpdateLog },
    methods: {
      ...mapActions('timekeeping', ['getLogs', 'exportLogs', 'addLog']),
      openSearchDialog() {
        this.search_dialog = true
      },
      openAddDialog() {
        this.add_log_dialog = true
      },
      async multipleDownload() {
        let response = await this.exportLogs({
          date_from: this.date_from,
          date_to: this.date_to,
          keyword: this.keyword,
          level: this.level,
          job_title: this.job_title,
          user_id: null
        })

        var anchor = document.createElement('a')
        anchor.href = response.data
        anchor.download = response
        anchor.target = '_blank'
        document.body.appendChild(anchor)
        anchor.click()
      }
    },
    data: () => ({
    })
  }
</script>

<style lang="scss" scoped>

</style>
