.component--avatar-menu {
    background: $SCHEME2 !important;
    
    .theme--light.v-sheet {
        background: none !important;
    }
    
}

.v-list {
    padding: 0 !important;
}


.v-list-group {
    .v-list-group__items {

    }
    .v-list-group__header.v-list-item.v-list-item--link.theme--dark {
        padding: 0 16px !important;
    }
    .v-list-item__icon {
        width: 100% !important;
    }
}
.v-list-item {
    &.no-show {
        display: none !important;
    }
}