<template>
    <v-app-bar app
        elevate-on-scroll temporary clipped-right>
        <v-app-bar-nav-icon @click="toggleDrawer"></v-app-bar-nav-icon>
        <v-toolbar-title pa-2>
            {{ $route.meta.title }}
        </v-toolbar-title>
        <div class="flex-grow-1"></div>
        <v-btn icon>
            <v-icon>mdi-heart</v-icon>
        </v-btn>
        <v-btn icon>
            <v-icon>mdi-magnify</v-icon>
        </v-btn>
        <avatar-menu
            :closeOnClick="true" />
    </v-app-bar>
</template>

<script>

    import { mapFields } from 'vuex-map-fields'
    import AvatarMenu from './AvatarMenu'
    
    export default {
        name: 'AppBar',
        components: { AvatarMenu },
        computed: {
            ...mapFields('utils', ['drawer'])
        },
        methods: {
            toggleDrawer() {
                this.drawer = !this.drawer
            }
        },
        data: () => ({
            
        })
    }
</script>

<style lang="scss" scoped>

</style>