<template>
    <v-menu
        v-model="value"
        :disabled="disabled"
        :absolute="absolute"
        :open-on-hover="openOnHover"
        :close-on-click="closeOnClick"
        :close-on-content-click="closeOnContentClick"
        :offset-x="offsetX"
        :offset-y="offsetY">
        <template v-slot:activator="{ on }">
            <v-list-item-avatar v-on="on">
                <img src="https://cdn.vuetifyjs.com/images/john.jpg" alt="John">
            </v-list-item-avatar>
        </template>
        
        <v-card color="gold2">
            <v-list color="gold2">
                <v-list-item>
                    <v-list-item-avatar>
                        <img src="https://cdn.vuetifyjs.com/images/john.jpg" alt="John">
                    </v-list-item-avatar>
                    <v-list-item-content>
                        <v-list-item-title>John Leider</v-list-item-title>
                        <v-list-item-subtitle>Founder of Vuetify.js</v-list-item-subtitle>
                    </v-list-item-content>
        
                    <v-list-item-action>
                        <v-btn :class="fav ? 'red--text' : ''" icon @click="fav = !fav">
                            <v-icon>mdi-heart</v-icon>
                        </v-btn>
                    </v-list-item-action>
                </v-list-item>
            </v-list>
            <v-divider></v-divider>
            <v-list color="gold1 lighten-1">
                <v-list-item
                    v-for="(item, index) in items"
                    :key="index">
                    <v-list-item-title v-if="item.has_action" @click="logout">{{ item.title }}</v-list-item-title>
                    <v-list-item-title v-else>{{ item.title }}</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-card>
    </v-menu>
</template>

<script>

    import { mapActions } from 'vuex'

    export default {
        name: 'AvatarMenu',
        props: {
            disabled: {
                value: Boolean,
                default: false
            },
            absolute: {
                value: Boolean,
                default: false
            },
            openOnHover: {
                value: Boolean,
                default: false
            },
            closeOnClick: {
                value: Boolean,
                default: false
            },
            closeOnContentClick: {
                value: Boolean,
                default: false
            },
            offsetX: {
                value: Boolean,
                default: false,
            },
            offsetY: {
                value: Boolean,
                default: false
            }
        },
        methods: {
            ...mapActions('auth', ['destroyAuth']),
            async logout() {
                await this.destroyAuth()
            }
        },
        data: () =>({
            items: [
                { title: 'User Profile', has_action: false },
                { title: 'Logout', has_action: true },
            ],
            fav: false,
            value: false
        })
    }
</script>

<style lang="scss" scoped>

</style>