<template>
    <div class="section--component-sampler">
        <v-layout row wrap>
            <v-flex md12>
                <date-range
                    @on-date-selected="getDates"
                    :time_picker_increment="1"
                    :outlined="false"
                    :label="'Select a Date Range'"
                    :dark="true"/>
                <date-range
                    @on_date_selected="getDates"
                    :outlined="false"
                    :label="'Select a Single Date'"
                    :single_date_picker="true"
                    :dark="true"/>
            </v-flex>
        </v-layout>
        <div class="text-center">
            <v-btn
                class="ma-1"
                color="primary">
                Primary
            </v-btn>

            <v-btn
                color="secondary"
                class="ma-1">
                Secondary
            </v-btn>

            <v-btn
                class="ma-1"
                color="success">
                Success
            </v-btn>

            <v-btn
                color="info"
                class="ma-1">
                Info
            </v-btn>
            <v-btn
                color="warning"
                class="ma-1">
                Warning
            </v-btn>
            <v-btn
                color="accent"
                class="ma-1">
                Accent
            </v-btn>
            <v-btn
                color="error"
                class="ma-1">
                Error
            </v-btn>
            <v-btn
                class="ma-1">
                No Class
            </v-btn>
            <confirmation-box 
                :type="'delete'"
                :color="'error'"
                :label="'Test Confirm Modal'"
                :label_button="true"
                :title="'Testing, Hello!'" />
            <v-btn
                @click="test"
                color="success"
                class="ma-1">
                Success Snackbar
            </v-btn>
        </div>

    </div>
</template>

<script>

    import DateRange from './DateAndTimePicker'

    export default {
        name: 'ComponentSampler',
        components: { DateRange },
        methods: {
            getDates(date_range) {
                this.date_range = date_range
            },
            test() {
                this.toggleSnackbar({text: 'This is a test! Hahaha', color: 'success'})
            }
        },
        data: () => ({
            date_range: null
        })
    }
</script>

<style lang="scss" scoped>

</style>