<template>
    <div class="modal-confirmation">
        <p dark v-if="!label_button" color="primary" @click.stop="dialog = true">
            {{ label }}
        </p>
        <v-btn v-else :color="color" dark @click.stop="dialog = true">
            {{ label }}
        </v-btn>

        <v-dialog persistent v-model="dialog" max-width="500">
            <v-card color="gold2">
                <v-card-title class="headline">
                    {{ title }}
                </v-card-title>

                <v-card-text>
                    Are you sure you want to {{ type }} {{ item ? item : 'this item' }}?
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <div class="flex-grow-1"></div>
                    <v-btn color="gray1 lighten-1" text @click="dialog = false">
                        Cancel
                    </v-btn>
                    
                    <v-btn dark depressed class="success darken-1" outlined text @click="confirmOk">
                        OK
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
  </div>
</template>

<script>
    export default {
        name: 'ConfirmModal',
        props: {
            type: {
                value: String,
                default: 'delete'
            },
            label: {
                value: String,
                default: 'Confirm Modal'
            },
            label_button: {
                value: Boolean,
                default: true
            },
            title: {
                value: String,
                default: 'Confirm Dialog Box'
            },
            item: {
                value: String,
                default: ''
            },
            color: {
                value: String,
                default: 'success'
            }
        },
        methods: {
            confirmOk() {
                this.$emit('confirm-action', this.item)
                this.dialog = false
            }
        },
        data: () => ({
            dialog: false
        })
    }
</script>

<style lang="scss" scoped>

</style>