<template>
    <div class="date-time-picker text-center">
        
        <v-menu
            v-model="menu"
            :close-on-content-click="false"
            :nudge-width="type == 'single' || type == 'multi' ? -20 : 150"
            offset-x>
            
            <template v-slot:activator="{ on }">
                <v-btn
                    v-if="display == 'button'"
                    color="indigo"
                    dark
                    v-on="on">
                    {{ label }}
                </v-btn>
                <v-text-field 
                    v-else-if="display == 'input'"
                    :outlined="outlined"
                    :label="label"
                    :value="get_selected_date"
                    readonly
                    v-on="on">
                </v-text-field>
            </template>

            <v-card flat>
                <v-card-title class="warning">{{ label }}<span class="pl-2 overline text-uppercase">({{ type }})</span></v-card-title>
                <v-divider></v-divider>

                <v-card-text v-if="type == 'range'">
                    <v-layout row wrap>
                        <v-flex dense xs12 sm4 md4>
                            <v-list v-if="$vuetify.breakpoint.smAndUp" dense>
                                <v-list-item-group v-model="selected_range" color="primary">
                                <v-list-item
                                    v-for="(range, i) in ranges"
                                    :key="i">
                                    <v-list-item-content>
                                        <v-list-item-subtitle>{{range.label}}</v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                                </v-list-item-group>
                            </v-list>
                            <div v-else>
                                <v-layout pa-2 row wrap>
                                    <v-flex md12>
                                        <v-btn class="ma-1"
                                            x-small depressed
                                            v-for="(range, i) in ranges"
                                            :key="i">
                                            {{ range.label }}
                                        </v-btn>
                                    </v-flex>
                                </v-layout>
                            </div>
                        </v-flex>
                        <v-flex xs12 sm8 md8>
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                    v-model="date"
                                    label="Picker in menu"
                                    prepend-icon="event"
                                    readonly
                                    v-on="on"
                                ></v-text-field>
                            </template>
                            <v-date-picker 
                                :full-width="$vuetify.breakpoint.smAndDown ? true : false"
                                range
                                class="calendar-picker" 
                                flat 
                                v-model="dates" 
                                no-title>
                                <v-spacer></v-spacer>
                            </v-date-picker>
                        </v-flex>
                    </v-layout>
                </v-card-text>

                <v-card-text v-if="type == 'multi'" flat>
                    <v-layout row wrap>
                        <v-flex xs12 sm8 md8>
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                    v-model="date"
                                    label="Picker in menu"
                                    prepend-icon="event"
                                    readonly
                                    v-on="on"
                                ></v-text-field>
                            </template>
                            <v-date-picker 
                                :full-width="$vuetify.breakpoint.smAndDown ? true : false"
                                multiple
                                class="calendar-picker" 
                                flat 
                                v-model="dates" 
                                no-title>
                                <v-spacer></v-spacer>
                            </v-date-picker>
                        </v-flex>
                    </v-layout>
                </v-card-text>

                <v-card-text  v-if="type == 'single'" flat>
                    <v-layout row wrap>
                        <v-flex xs12 sm8 md8>
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                    v-model="date"
                                    label="Picker in menu"
                                    prepend-icon="event"
                                    readonly
                                    v-on="on"
                                ></v-text-field>
                            </template>
                            <v-date-picker 
                                class="calendar-picker" 
                                flat 
                                v-model="date" 
                                no-title>
                                <v-spacer></v-spacer>
                            </v-date-picker>
                        </v-flex>
                    </v-layout>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="warning" text @click="menu = false">Cancel</v-btn>
                    <v-btn color="success" text @click="onPickedDate">OK</v-btn>
                </v-card-actions>
            </v-card>

        </v-menu>
    </div>
</template>

<script>

    import moment from 'moment'

    export default {
        name: 'DateTimePicker',
        computed: {
            get_selected_date() {

                switch(this.type) {
                    case 'multi': break
                    case 'range': break
                    default: break
                }
                return this.type == 'range' || this.type == 'multi' ? this.dates : this.date
            },
            dateRangeText () {
                return this.dates.join(' ~ ')
            },
        },
        props: {
            label: {
                type: String,
                default: 'Select Date'
            },
            outlined: {
                type: Boolean,
                default: true
            },
            // TYPEOF date picker trigger: button, input, text
            display: {
                type: String,
                default: 'button'
            },
            is_modal: {
                type: Boolean,
                default: false
            },
            // TYPEOF date picker: single, range, multi
            type: {
                type: String,
                required: true,
                default: 'single' 
            },
            persistent: {
                type: Boolean,
                default: false
            },
        },
        methods: {
            onPickedDate() {
                this.$emit('selected_date', this.date)
                this.menu = false
            }
        },
        watch: {
            menu: {

            }
        },
        data: () => ({
            dialog: false,
            ranges: [                    
                { label: 'Today', value: [moment().startOf('day'), moment()] },
                { label: 'Yesterday', value: [moment().subtract(1, 'days').startOf('day'), moment().subtract(1, 'days').endOf('day')]} ,
                { label: 'This month', value: [moment().startOf('month'), moment()] },
                { label: 'This year', value: [moment().startOf('year'), moment()] },
                { label: 'Last week', value: [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')] },
                { label: 'Last month', value: [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')] },  
            ],
            selected_range: null,
            date: null, //new Date().toISOString().substr(0, 10),
            dates: [],
            menu: false
        })
    }
</script>

<style lang="scss" scoped>

</style>