<template>
    <date-range-picker
        ref="picker"
        :opens="opens"
        :min-date="min_date"
        :max-date="max_date"
        :single-date-picker="single_date_picker"
        :time-picker="time_picker"
        :time-picker24-hour="time_picker24_hour"
        :time-picker-increment="time_picker_increment"
        :show-week-numbers="show_week_numbers"
        :show-dropdowns="show_dropdowns"
        :start-date="startDate"
        :end-date="endDate"
        :linked-calendars="linked_calendars"
        :auto-apply="auto_apply"
        :ranges="ranges"
        v-model="dateRange"
        :locale-data="locale"
        @update="updateValues"
        @toggle="checkOpen">
        <div slot="input" slot-scope="picker" style="min-width: 350px;">
            <v-text-field 
                readonly 
                :label="label" 
                :outlined="outlined" 
                :dark="dark" 
                :value="getDates"
                append-icon="mdi-calendar">
            </v-text-field>
        </div>
    </date-range-picker>
</template>

<script>

    import moment from 'moment'
    import DateRangePicker from 'vue2-daterange-picker'
    import 'vue2-daterange-picker/dist/vue2-daterange-picker.css'

    export default {
        name: 'DateAndTimePicker',
        components: { DateRangePicker },
        props: {
            label: {
                value: String, default: 'Pick a date'
            },
            outlined: {
                value: Boolean, default: true
            },
            ranges: {
                value: Boolean, default: true
            },
            dark: {
                value: Boolean, default: false
            },
            opens: {
                value: String, default: 'left'
            },
            min_date: {
                value: String, default: null
            },
            max_date: {
                value: String,
                default () {
                    return new Date
                }
            },
            single_date_picker: {
                value: Boolean, default: false
            },
            time_picker: {
                value: Boolean, default: true
            },
            time_picker24_hour: {
                value: Boolean, default: false
            },
            time_picker_increment: {
                value: Number, default: 5
            },
            show_week_numbers: {
                value: Boolean, default: false
            },
            show_dropdowns: {
                value: Boolean, default: false
            },
            startDate: {
                value: String, default: null
            },
            endDate: {
                value: String, default: null
            },
            linked_calendars: {
                value: Boolean, default: false
            },
            auto_apply: {
                value: Boolean, default: false
            },
            ranges: {
                type: [Object, Boolean],
                default () {
                    return {
                        'Today': [moment().startOf('day'), moment()],
                        'Yesterday': [moment().subtract(1, 'days').startOf('day'), moment().subtract(1, 'days').endOf('day')],
                        'This month': [moment().startOf('month'), moment()],
                        'This year': [moment().startOf('year'), moment()],
                        'Last week': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')],
                        'Last month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                    }
                }
            }

        },
        methods: {
            checkOpen() {
                // console.log('Datetimepicker is open!')
            },
            updateValues() {
                this.$emit('onDateSelected', this.dateRange)
            }
        },
        computed: {
            getDates() {
                if(this.ranges !== false) {

                    if(this.time_picker == true) {
                        return this.dateRange.startDate ? moment(this.dateRange.startDate).format('YYYY-MM-DD HH:mm:ss') + ' - ' + moment(this.dateRange.endDate).format('YYYY-MM-DD HH:mm:ss') : null
                    } else {
                        return this.dateRange.startDate ? moment(this.dateRange.startDate).format('YYYY-MM-DD') + ' - ' + moment(this.dateRange.endDate).format('YYYY-MM-DD') : null
                    }
                    
                } else {

                    if(this.time_picker == true) {
                        return this.dateRange.startDate ? moment(this.dateRange.startDate).format('YYYY-MM-DD HH:mm:ss') : null
                    } else {
                        return this.dateRange.startDate ? moment(this.dateRange.startDate).format('YYYY-MM-DD') : null
                    }
                }
            }
        },
        data: () => ({
            dateRange: {},
            locale: {
                direction: 'ltr', //direction of text
                format: 'YYYY-MM-DD', //fomart of the dates displayed
                separator: ' - ', //separator between the two ranges
                applyLabel: 'Apply',
                cancelLabel: 'Cancel',
                weekLabel: 'W',
                customRangeLabel: 'Custom Range',
                daysOfWeek: moment.weekdaysMin(), //array of days - see moment documenations for details
                monthNames: moment.monthsShort(), //array of month names - see moment documenations for details
                firstDay: 1 //ISO first day of week - see moment documenations for details
            }
        })
    }
</script>

<style lang="scss" scoped>

</style>