<template>
    <v-footer app fixed padless>
        <v-card dark class="flex" flat tile>
            <!-- <v-card-title 
                v-if="!$vuetify.breakpoint.smAndDown"
                class="secondary">
                <strong class="subheading font-weight-thin">Get connected with us on social networks!</strong>
                <v-spacer></v-spacer>   
                <v-btn v-for="icon in icons" :key="icon" class="mx-4" dark icon>
                    <v-icon size="24px">{{ icon }}</v-icon>
                </v-btn>
            </v-card-title> -->

            <v-card-text class="py-2 white--text text-center">
                Copyright {{ new Date().getFullYear() }} — <strong>SIIS v0.0.1</strong>
            </v-card-text>
        </v-card>
    </v-footer>    
</template>

<script>
    export default {
        name: 'Footer',
        data: () => ({
            icons: [
                'mdi-facebook',
                'mdi-twitter',
                'mdi-google-plus',
                'mdi-linkedin',
                'mdi-instagram',
            ],
        })
    }
</script>

<style lang="scss" scoped>

</style>