<template>
    <v-overlay :value="loader_dialog">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
</template>

<script>

    import { mapFields } from 'vuex-map-fields'

    export default {
        name: 'Loader',
        computed: {
            ...mapFields('utils', ['loader_dialog'])
        }
    }
</script>

<style lang="scss" scoped>

</style>