<template>
    <v-container class="fill-height">
       <v-navigation-drawer app fixed v-model="get_drawer" dark>
            <v-list-item class="app-title-container">
                <v-list-item-content class="app-title-avatar">
                    <v-list-item-title>
                        <span class="pl-4 headline">SI</span>
                        <span class="pl-0 headline font-weight-thin">InfoSys</span>
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>
            <v-list  v-for="item in $router.options.routes" :key="item.title"  dense>
                <v-list-item 
                    v-if="item.visible && !hasChildren(item)"                   
                    :class="item.visible ? '' : 'no-show'" link>
                    <v-list-item-content >
                        <router-link :to="{name : item.name}">
                            <v-list-item-title class="pl-4 body-2 font-weight-thin">
                            {{item.title}}
                            </v-list-item-title>
                        </router-link>
                    </v-list-item-content>
                </v-list-item>

                <v-list-group
                    active-class="white--text"
                    v-if="item.visible && hasChildren(item)"
                    :key="item.title"
                    >
                    <template v-slot:activator>
                        <v-list-item-content>
                        <v-list-item-title class="pl-4 body-2 font-weight-thin">
                            {{ item.title }}
                        </v-list-item-title>
                        </v-list-item-content>
                    </template>
            
                    <v-list-item
                        v-for="subItem in item.children"
                        :key="subItem.title" class="grey darken-4">
                        <v-list-item-content>
                            <router-link :to="{name : subItem.name}">
                                <v-list-item-title class="pl-4 body-2 font-weight-thin" v-text="subItem.title"></v-list-item-title>
                            </router-link>
                        </v-list-item-content>
                    </v-list-item>
                </v-list-group>

            </v-list>
        </v-navigation-drawer>
    </v-container>
</template>

<script>

    import { mapFields } from 'vuex-map-fields'

    export default {
        name: 'NavigationDrawer',
        computed: {
            ...mapFields('utils', ['drawer']),
            get_drawer: {
                get: function () {
                    return this.drawer
                },
                // setter
                set: function (newValue) {
                    this.drawer = newValue
                }
            },
        },
        methods: {
            hasChildren(item) {
                return Object.assign({}, item).children ? true : false
            }
        },
        data: () => ({
            mini: true,
            windowState: null
        })
    }
</script>

<style lang="scss" scoped>

</style>