<template>
    <div class="snackbar text-center ma-2">
        <v-snackbar 
            v-model="settings.snackbar"
            :color="settings.color"
            :top="settings.y === 'top'"
            :bottom="settings.y === 'bottom'"
            :left="settings.x === 'left'"
            :right="settings.x === 'right'"
            :timeout="settings.timeout"
            :vertical="settings.mode === 'vertical'"
            :multi-line="settings.mode === 'multi-line'">
            {{ settings.text }}
            <v-btn fab depressed :color="settings.color"
                @click="settings.snackbar = false">
                <v-icon small>mdi-close</v-icon>
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>

    import { mapGetters } from 'vuex'

    export default {
        name: 'Snackbar',
        computed: {
            ...mapGetters('utils', {settings: 'notification_settings'})
        }
    }
</script>

<style lang="scss" scoped>

</style>