<template>
    <div class="statistics-card" color="red">
        <v-card class="mx-auto" :dark="dark" color="gray1" outlined>
            <v-list-item three-line>
                <v-list-item-content>
                    <div class="overline mb-4">{{title}}</div>
                    <v-list-item-title class="display-2 mb-1">{{card_value}}</v-list-item-title>
                    <v-list-item-subtitle>{{body}}</v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-avatar
                    tile
                    size="80"
                    color="grey">
                </v-list-item-avatar>
            </v-list-item>
            <v-card-actions>
                <v-btn text>Button</v-btn>
                <v-btn text>Button</v-btn>
            </v-card-actions>
        </v-card>
    </div>
</template>

<script>
    export default {
        name: 'StatisticCard',
        props: {
            title: {
                value: String,
                default: 'Title Here'
            },
            body: {
                value: String,
                default: 'Body here... please check the item.'
            },
            icon: {
                value: String,
                default: ''
            },
            card_value: {
                value: String,
                default: '0'
            },
            dark: {
                value: Boolean,
                default: false
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>