<template>
    <div class="toggle-switch">
        <v-container fluid>
            <v-switch v-model="status" ma-2></v-switch>
        </v-container>
    </div>
</template>

<script>
    export default {
        name: 'ToggleSwitch',
        data: () => ({
            status: false
        })
    }
</script>

<style lang="scss" scoped>

</style>