.primary-btn {
    background-color: darken($TEMPLATE2, 20%) !important;
}

.success-btn {
    background-color: darken(green, 1%) !important;
    color: $BACKGROUND_SECONDARY !important;
}

.error-btn {
    background-color: darken($TEMPLATE4, 20%) !important;
    color: $BACKGROUND_SECONDARY !important;
}

.warning-btn {
    background-color: darken($TEMPLATE2, 20%) !important;
}

