<template>
  <div class="section--timekeeping-add">
    <v-row justify="center">

      <v-dialog 
        v-model="add_log_dialog" 
        scrollable
        max-width="400">
        <v-card>

          <v-card-title>Add log</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-layout row wrap>
              <v-flex pa-2 xs12 sm12 md12 lg12 xl12>
                <v-autocomplete 
                  v-model="user_id" 
                  :items="employee_list" 
                  label="Employee" 
                  placeholder="Select employee" 
                  required 
                  return-object
                  outlined
                  @change="userChanged" />
              </v-flex>
              <v-flex pa-2 xs12 sm12 md12 lg12 xl12>
                <date-time-picker 
                  :label="'Select date and time in'" 
                  :dark="false" 
                  :single_date_picker="true" 
                  :time_picker24_hour="true" 
                  :time_picker_increment="1"
                  :ranges="false" 
                  @on_date_selected="timeInChanged" />
              </v-flex>
              <v-flex pa-2 xs12 sm12 md12 lg12 xl12>
                <date-time-picker 
                  :label="'Select date and time out'" 
                  :dark="false" 
                  :single_date_picker="true" 
                  :time_picker24_hour="true" 
                  :time_picker_increment="1"
                  :ranges="false" 
                  :min_date="min_date" 
                  :max_date="max_date" 
                  @on_date_selected="timeOutChanged" />
              </v-flex>
            </v-layout>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="warning ma-1" @click="addBtn">Add</v-btn>
            <v-btn color="warning ma-1" @click="cancelBtn">Cancel</v-btn>
          </v-card-actions>

        </v-card>
      </v-dialog>

    </v-row>
  </div>
</template>

<script>

  import moment from 'moment'
  import { mapActions, mapMutations } from 'vuex'
  import { mapFields } from 'vuex-map-fields'
  import DateTimePicker from '../../components/base/DateAndTimePicker'

  export default {
    name: 'AddLogComponent',
    components: { DateTimePicker },
    computed: {
      ...mapFields(
        'timekeeping', 
          [
            'user_id', 
            'work_date', 
            'time_in', 
            'time_out', 
            'add_log_dialog'
          ]
      ),
      ...mapFields(
        'employee', 
          [
            'employee_list'
          ]
      ),
    },
    methods: {
      ...mapActions('timekeeping', ['addLog']),
      ...mapMutations('utils', ['toggleLoader']),
      userChanged(data) {
        this.user_id = data.value
      },
      timeInChanged(data) {
        this.work_date = moment(data.startDate).format('YYYY-MM-DD')
        this.time_in = moment(data.startDate).format('HH:mm:ss')
        this.min_date = this.work_date //To pass in date time picker for time out
        this.max_date = this.work_date //To pass in date time picker for time out
      },
      timeOutChanged(data) {
        this.time_out = moment(data.startDate).format('HH:mm:ss')
      },
      async addBtn(data) {

        this.add_log_dialog = false
        this.toggleLoader()
        await this.addLog({
          user_id: this.user_id,
          work_date: this.work_date,
          time_in: this.time_in,
          time_out: this.time_out
        })
        this.toggleLoader()
        
      },
      cancelBtn() {
        this.add_log_dialog = false
      }
    },
    data: () => ({
      min_date: null,
      max_date: null
    }),
  }
</script>