<template>
  <div class="section--log-result">
    <v-container fluid>
      <v-layout>
        <v-flex md12>

          <v-data-table dark :headers="headers" class="elevation-1" v-if="!logs" />

          <div v-for="(data, index) in logs" :key="index">

            <template>
              <v-toolbar flat dense>
                <v-toolbar-title>{{ data.first_name +' '+ data.middle_name +' '+ data.last_name}} | {{ data.job_title }}</v-toolbar-title>
                <v-spacer></v-spacer>
                <template v-if="$vuetify.breakpoint.smAndUp">
                  <v-btn icon color="success" @click="singleDownload(data.user_id)">
                    <v-icon>mdi-download</v-icon>
                  </v-btn>
                </template>
              </v-toolbar>
            </template>

            <v-data-table dark :headers="headers" :items="data.logs" class="elevation-1">
              <template v-slot:body="{ items }">
                <tbody>
                  <tr v-for="(item, sub_index) in items" :key="sub_index">
                    <td>{{ item.work_date }}</td>
                    <td>{{ item.time_in }}</td>
                    <td>{{ item.time_out }}</td>
                    <td>{{ item.total_log_hours }}</td>
                    <td>{{ item.total_working_hours }}</td>
                    <td>
                      <v-icon v-if="item.time_out == null" @click="openUpdateDialog(index, sub_index, item.id)" small class="mr-2">
                        mdi-pencil
                      </v-icon>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-data-table>
            <br />

          </div>

        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  import { mapActions } from 'vuex'
  import { mapFields } from 'vuex-map-fields'

  export default {
    name: 'ResultLogComponent',
    computed: {
      ...mapFields(
        'timekeeping', 
        [
          'logs',
          'index', 
          'sub_index', 
          'log_id', 
          'update_log_dialog',

          'date_from',
          'date_to',
          'user_id'
        ]
      )
    },
    methods: {
      ...mapActions('timekeeping', ['exportLogs']),
      openUpdateDialog(index, sub_index, id) {
        this.index = index
        this.sub_index = sub_index
        this.log_id = id
        this.update_log_dialog = true
      },
      async singleDownload(user_id) {
        let response = await this.exportLogs({
          date_from: this.date_from,
          date_to: this.date_to,
          keyword: null,
          level: null,
          job_title: null,
          user_id: user_id
        })

        var anchor = document.createElement('a')
        anchor.href = response.data
        anchor.download = response
        anchor.target = '_blank'
        document.body.appendChild(anchor)
        anchor.click()
      }
    },
    data: () => ({
      headers: [
        {
          text: 'Date',
          align: 'left',
          value: 'work_date',
        },
        {
          text: 'Time In',
          sortable: false,
          value: 'time_in'
        },
        {
          text: 'Time Out',
          sortable: false,
          value: 'time_out'
        },
        {
          text: 'Total Log Hours',
          sortable: false,
          value: 'total_log_hours'
        },
        {
          text: 'Total Working Hours',
          sortable: false,
          value: 'total_working_hours'
        },
        {
          text: 'Action',
          sortable: false,
          value: 'action'
        }
      ]
    }),
  }
</script>