<template>
  <div class="section--timekeeping-search">
    <v-row justify="center">

      <v-dialog 
        v-model="search_dialog" 
        scrollable
        max-width="700">
        <v-card>

          <v-card-title>Search</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-layout row wrap>
              <v-flex pa-2 xs12 sm12 md12 lg12 xl12>
                <date-time-picker 
                  :label="'Select date'"
                  :opens="'right'"
                  :dark="false"
                  :time_picker="false"
                  @on_date_selected="dateChanged"/>
              </v-flex>
              <v-flex pa-2 xs12 sm12 md12 lg12 xl12>
                <v-text-field v-model="keyword" outlined label="Enter keyword" />
              </v-flex>
              <v-flex pa-2 xs12 sm12 md12 lg12 xl12>
                <v-autocomplete
                  v-model="level"
                  label="Select Level" 
                  attach 
                  chips 
                  multiple
                  outlined
                  @change="levelChanged"
                  :items="level_list">
                </v-autocomplete>
              </v-flex>
              <v-flex pa-2 xs12 sm12 md12 lg12 xl12>
                <v-autocomplete
                  v-model="job_title"
                  label="Select Job Title" 
                  attach 
                  chips 
                  multiple
                  outlined
                  @change="jobTitleChanged"
                  :items="job_title_list">
                </v-autocomplete>
              </v-flex>
            </v-layout>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="warning ma-1" @click="searchBtn">Search</v-btn>
            <v-btn color="warning ma-1" @click="cancelBtn">Cancel</v-btn>
          </v-card-actions>

        </v-card>
      </v-dialog>

    </v-row>
  </div>
</template>

<script>
  import moment from 'moment'
  import { mapActions, mapMutations } from "vuex"
  import { mapFields } from 'vuex-map-fields'
  import DateTimePicker from '../../components/base/DateAndTimePicker'

  export default {
    name: 'SearchLogComponent',
    components: { DateTimePicker},
    computed: {
      ...mapFields(
        'timekeeping', 
        [
          'search_dialog', 
          'date_from',
          'date_to',
          'keyword',
          'level',
          'job_title'
        ]
      ),
      ...mapFields(
        'employee',
        [
          'level_list',
          'job_title_list'
        ]
      )
    },
    methods: {
      ...mapActions('timekeeping', ['getLogs']),
      ...mapMutations('utils', ['toggleLoader']),
      dateChanged(data) {
        this.date_from = (data && data.startDate) ? moment(data.startDate).format('YYYY-MM-DD') : null
        this.date_to = (data && data.endDate) ? moment(data.endDate).format('YYYY-MM-DD') : this.date_from
      },
      levelChanged(data) {
        this.level = data
      },
      jobTitleChanged(data) {
        this.job_title = data
      },
      async searchBtn() {

        this.search_dialog = false
        this.toggleLoader()
        await this.getLogs({
          date_from: this.date_from,
          date_to: this.date_to,
          keyword: this.keyword,
          level: this.level,
          job_title: this.job_title
        })
        this.toggleLoader()
        
      },
      cancelBtn() {
        this.search_dialog = false
      }
    },
    data: () => ({
    }),
  }
</script>