<template>
  <div class="section--timekeeping-update">
    <v-row justify="center">

      <v-dialog 
        v-model="update_log_dialog" 
        scrollable 
        max-width="410">
        <v-card>

          <v-card-title>Update Log</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-layout row wrap>
              <v-flex pa-2 xs12 sm12 md12 lg12 xl12>
                <v-time-picker 
                  v-model="time_out" 
                  dark 
                  color="#F4A735" 
                  format="24hr" 
                  value="hh:mm" 
                  width="200" 
                  :landscape="$vuetify.breakpoint.smAndUp" />
              </v-flex>
            </v-layout>
          </v-card-text>

          <v-divider></v-divider>
          
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="warning ma-1" @click="updateBtn">Update</v-btn>
            <v-btn color="warning ma-1" @click="cancelBtn">Cancel</v-btn>
          </v-card-actions>

        </v-card>
      </v-dialog>

    </v-row>
  </div>
</template>

<script>
  import { mapActions, mapMutations } from 'vuex'
  import { mapFields } from 'vuex-map-fields'

  export default {
    name: 'UpdateLogComponent',
    computed: {
      ...mapFields(
        'timekeeping', 
        [
          'index', 
          'sub_index', 
          'log_id', 
          'time_out', 
          'update_log_dialog'
        ]
      )
    },
    methods: {
      ...mapActions('timekeeping', ['updateLog']),
      ...mapMutations('utils', ['toggleLoader']),
      async updateBtn() {

        this.update_log_dialog = false
        this.toggleLoader()
        await this.updateLog({
          index: this.index,
          sub_index: this.sub_index,
          id: this.log_id,
          time_out: this.time_out
        })
        this.toggleLoader()

      },
      cancelBtn() {
        this.update_log_dialog = false
      }
    },
    data: () => ({
    }),
  }
</script>