<template>
    <div class="activity-today">
        <v-card color="gray1" dark class="mx-auto" outlined>    
            <v-list two-line>
                <template v-for="(item, index) in items">
                    <v-subheader v-if="item.header" :key="item.header">
                        <v-badge small color="success">
                            {{ item.header }}
                            <template v-slot:badge>
                                <span>99</span>
                            </template>
                        </v-badge>
                    </v-subheader>
                    <v-divider
                        v-else-if="item.divider"
                        :key="index"
                        :inset="item.inset">
                    </v-divider>
                    <v-list-item v-else :key="item.title" @click="">
                        <v-list-item-avatar>
                            <v-img :src="item.avatar"></v-img>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title>
                                {{ item.title }}
                            </v-list-item-title>
                            <!-- <v-list-item-subtitle v-html="item.subtitle"></v-list-item-subtitle> -->
                            <v-list-item-subtitle>{{item.subtitle}}</v-list-item-subtitle>
                        </v-list-item-content>
                        <v-list-item-action>
                            <v-list-item-action-text v-text="item.action"></v-list-item-action-text>
                            <v-chip small :color="item.status === 'Approved' ? 'success' : item.status === 'Pending' ? 'secondary darken-1' : 'error'">{{item.status}}</v-chip>
                            <!-- <v-icon v-if="!active" color="grey lighten-1">mdi-star</v-icon>
                            <v-icon v-else color="yellow">mdi-star</v-icon> -->
                        </v-list-item-action>
                    </v-list-item>
                </template>
            </v-list>
        </v-card>
    </div>
</template>

<script>
    export default {
        name: 'ActivityToday',
        data: () => ({
            selected: [2],
            items: [
                { header: 'Today' },
                {
                    avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
                    status: 'Approved',
                    title: 'Jayson Mag-isa',
                    subtitle: "Filed a Vacation Leave on December 1, 2019",
                },
                { divider: true, inset: true },
                {
                    avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg',
                    status: 'Pending',
                    title: 'Nathanael Lerit',
                    subtitle: "Filed a Birthday Leave on December 1, 2019",
                },
                { divider: true, inset: true },
                {
                    avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
                    status: 'Pending',
                    title: 'Ardee Ayes',
                    subtitle: "Filed a Sick Leave on December 1, 2019",
                },
                { divider: true, inset: true },
                {
                    avatar: 'https://cdn.vuetifyjs.com/images/lists/4.jpg',
                    status: 'Disapproved',
                    title: 'Jefferson Nerves',
                    subtitle: "Filed a Vacation Leave on December 1, 2019",
                },
                { divider: true, inset: true },
                {
                    avatar: 'https://cdn.vuetifyjs.com/images/lists/5.jpg',
                    status: 'Approved',
                    title: 'Regina Alegrid',
                    subtitle: "Filed an Overtime on December 1, 2019 from 7:00PM to 11:00PM",
                },
                { divider: true, inset: true },
                {
                    avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg',
                    status: 'Approved',
                    title: 'Gilbert Tuazon',
                    subtitle: "Filed a Vacation Leave on December 1, 2019",
                },
                { divider: true, inset: true },
                {
                    avatar: 'https://cdn.vuetifyjs.com/images/lists/5.jpg',
                    status: 'Pending',
                    title: 'Karl Fabe',
                    subtitle: "Filed a Vacation Leave on December 1, 2019",
                },
            ],
        })
    }
</script>

<style lang="scss" scoped>

</style>