.section--meet-the-devs {
    color: $BACKGROUND_SECONDARY !important;

    .v-card {
        background-color: rgba(0,0,0,0) !important;
    }

    .developer-avatar {
        filter: gray; /* IE6-9 */
        -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
        filter: grayscale(0); 
        
    }

    .avatar-container {
        display: block;
        .avatars {
            display: inline-block !important;
        }
    }    
//     .d-flex, .v-card--reveal {
//         -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
//         filter: grayscale(1); 
//     }
}