.section--login {
    background: url("./assets/images/bg3.jpg") no-repeat;
    background-size: cover;
    background-position: bottom;

    .layout {
        
    }

    .login-container {
        @include gradient(rgba(0,0,0,0), #000000, 10%, 90%);
    }

    .login-card {
        background-color: none !important;
    }

    .theme--light.v-sheet {
        background: none !important;
    }

    .v-input__slot {
        background: $BACKGROUND_SECONDARY;
        padding: 0.5em;
        border-radius: 10px;
    }

}