<template>
    <v-app id="siis">
        <app-bar v-if="$route.name !== 'auth'" />
        <v-content>
            <router-view />
        </v-content>
        <footer-page />
        <navigation-drawer v-if="$route.name !== 'auth'"></navigation-drawer>
        
        <loader />
        <snackbar />
    </v-app>
</template>

<script>
    
    import AppBar from './components/base/AppBar'
    import NavigationDrawer from './components/base/NavigationDrawer'
    import FooterPage from './components/base/Footer'
    import Loader from './components/base/Loader'
    import Snackbar from './components/base/Snackbar'
    
    export default {
    name: 'App',
    components: {
        AppBar,
        NavigationDrawer,
        FooterPage,
        Loader,
        Snackbar
    },
    data: () => ({
        //
        }),
    };
</script>

<style lang="scss">
    @import '@/assets/stylesheets/sass/style.scss';
</style>