<template>
    <v-container class="section--login" pa-0 fluid fill-height>
        <v-layout pa-0
            align-center
            justify-center
            class="login-container">
            <v-flex xs0 sm6 md6 lg7 xl8></v-flex>
            <v-flex xs12 sm6 md6 lg5 xl4 pa-5 >
                <v-card flat class="login-card">
                    <v-layout px-5 row wrap>
                        <v-flex pb-5 md8 offset-md2>
                            <v-img src="@/assets/images/logo_landing_2.png"></v-img>
                        </v-flex>
                    </v-layout>
                    <v-card-text>
                        <v-layout px-5 row wrap>
                            <v-flex md8 offset-md2>
                                <v-form>
                                    <v-text-field
                                        name="login"
                                        prepend-inner-icon="mdi-account"
                                        type="text"></v-text-field>
                                    <v-text-field
                                        id="password"
                                        name="password"
                                        prepend-inner-icon="mdi-lock"
                                        type="password"></v-text-field>
                                </v-form>
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                    <v-layout px-0 row wrap>
                        <v-flex px-5 md8 offset-md2>
                            <v-card-actions>
                            <v-spacer></v-spacer>
                            <!-- <v-btn large depressed :to="{name: 'home'}" color="primary-btn">Login</v-btn> -->
                            <v-btn large depressed @click="login" color="primary-btn">Login</v-btn>
                            </v-card-actions>
                        </v-flex>
                    </v-layout>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>

    import { mapActions } from 'vuex'

    export default {
        name: 'LoginPage',
        methods: {
            ...mapActions('auth', ['getAuth']),
            async login() {
                let res = await this.getAuth()
                return this.$route.params
            }
        },
        data: () => ({
            
        })
    }
</script>

<style lang="scss" scoped>

</style>