<template>
    <div class="section--document-management">
        
    </div>
</template>

<script>

    import { mapActions } from 'vuex'
    import  "../../assets/stylesheets/sass/vendors/file-manager.css"
    import api from '../../api/document'

    export default {
        name: 'DocumentManagement',
        components: { },
        mounted() {
            this.load_script()
        },
        
        methods: {
            ...mapActions('document', ['getFileManager']),
            async load_script () {
                let response = await this.getFileManager()
                window.open('http://siis.local/' + response, 'fm', 'width=1400,height=800')
            }
        },


        data: () => ({
            
        })
    }
</script>

<style lang="css" scoped>
    /* @import "https://use.fontawesome.com/releases/v5.7.0/css/all.css";
    @import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"; */
</style>