<template>
    <div class="section--hr-forms">
        
        <v-btn v-if="$vuetify.breakpoint.smAndUp" @click="requestUserData" color="success">
            Request Form
        </v-btn>
        <v-btn fab small depressed v-else @click="request_form = !request_form" color="success">
            <v-icon>mdi-book-plus</v-icon>
        </v-btn>
        
        <v-dialog persistent width="700" v-model="request_form">
            <v-card>
                <v-card-title>Employee Information</v-card-title>
                <v-card-text>
                    <v-layout row wrap>
                        <v-flex pa-2 xs12 sm6 md6 lg6 xl6>
                            <v-select
                                v-model="form.type_of_request"
                                :items="items"
                                label="Request Type"
                                outlined></v-select>
                        </v-flex>
                        <v-flex pa-2 xs12 sm6 md6 lg6 xl6>
                            <v-text-field
                                outlined
                                label="Employee Number"
                                v-model="form.employee_number"
                                disabled></v-text-field>
                        </v-flex>
                        <v-flex pa-2 xs12 sm6 md6 lg6 xl6>
                            <v-text-field
                                outlined
                                label="Employee Name"
                                v-model="form.employee_name"
                                disabled></v-text-field>
                        </v-flex>
                        <v-flex pa-2 xs12 sm6 md6 lg6 xl6>
                            <v-text-field
                                outlined
                                label="Date Hired"
                                v-model="form.date_hired"
                                disabled></v-text-field>
                        </v-flex>
                        <v-flex pa-2 xs12 sm6 md6 lg6 xl6>
                            <v-text-field
                                outlined
                                label="Position"
                                v-model="form.position"
                                disabled></v-text-field>
                        </v-flex>
                        <v-flex pa-2 xs12 sm6 md6 lg6 xl6>
                            <v-text-field
                                outlined
                                label="Department"
                                v-model="form.department"
                                disabled></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap v-if="form.type_of_request === 'LEAVE_FORM_REQUEST'" pa-0>
                        <v-card-title>Leave Form</v-card-title>
                        <v-flex md12>
                            <DatePickerComponent 
                                @on_date_selected="getDates"
                                :label="'Inclusive Dates:'"
                                :opens="'right'" />
                        </v-flex>
                        <v-flex pa-2 xs12 sm6 md6 lg6 xl6>
                            <v-text-field
                                outlined
                                label="Number Of Days/Hours"
                                v-model="request_type_col.LEAVE_FORM_REQUEST.number_of_days_or_hours"></v-text-field>
                        </v-flex>
                        <v-flex md12>
                            <v-textarea
                                outlined
                                name="input-7-1"
                                label="Reasons Of Absence"
                                v-model="request_type_col.LEAVE_FORM_REQUEST.reasons_of_absence"></v-textarea>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap v-if="form.type_of_request === 'CHANGE_SHIFT_REQUEST'" pa-0>
                        <v-card-title >Change Shift Form</v-card-title>
                        <v-flex md12>
                            <DatePickerComponent 
                                @on_date_selected="getDates"
                                :label="'Current Work Schedule:'"
                                :opens="'right'" />
                        </v-flex>
                        <v-flex md6>
                            <DatePickerComponent 
                                @on_date_selected="getDates"
                                :label="'New Work Schedule:'"
                                :opens="'right'" />
                        </v-flex>
                        <v-flex md12>
                            <v-textarea
                                outlined
                                name="input-7-1"
                                label="Reasons/Justification"
                                v-model="request_type_col.CHANGE_SHIFT_REQUEST.reasons_or_justification"></v-textarea>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap v-if="form.type_of_request === 'OVERTIME_REQUEST'" pa-0>
                        <v-card-title>OT Form</v-card-title>
                        <v-flex md12>
                            <DatePickerComponent 
                                @on_date_selected="getDates"
                                :label="'Date Of Overtime:'"
                                :opens="'right'" 

                                />
                        </v-flex>
                        <v-flex pa-2 xs12 sm6 md6 lg6 xl6>
                            <v-text-field
                                outlined
                                label="Time Start"
                                v-model="request_type_col.OVERTIME_REQUEST.time_start"
                                disabled></v-text-field>
                        </v-flex>
                        <v-flex pa-2 xs12 sm6 md6 lg6 xl6>
                            <v-text-field
                                outlined
                                label="Time Finished"
                                v-model="request_type_col.OVERTIME_REQUEST.time_finished"
                                disabled></v-text-field>
                        </v-flex>
                        <v-flex pa-2 xs12 sm6 md6 lg6 xl6>
                            <v-text-field
                                outlined
                                label="Total Number Of Hours"
                                v-model="request_type_col.OVERTIME_REQUEST.total_no"
                                disabled></v-text-field>
                        </v-flex>
                        <v-flex md12>
                            <v-textarea
                                outlined
                                name="input-7-1"
                                label="Purpose"
                                v-model="request_type_col.OVERTIME_REQUEST.purpose"></v-textarea>
                        </v-flex>
                    </v-layout>

                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error" @click="cancelForm">Cancel</v-btn>
                    <v-btn 
                        :disabled="form.type_of_request ? false : true" 
                        class="ma-1" color="success" 
                        @click="requestForm">
                        Submit 
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>

    import { mapActions, mapMutations} from "vuex"
    import { mapFields } from 'vuex-map-fields'
    import DatePickerComponent from '../base/DateAndTimePicker'
    import moment from 'moment'
    //import DatePickerComponent from '../base/DatePicker'
    export default {
        name: 'HRForms',
        components:{
            //DatePickerComponent
        },
        computed: {
            ...mapFields('form', ['form_records', 'user_data']),
        },

        methods: {
            ...mapActions('form', ['createRequestForm', 'getUserData']),
            ...mapMutations('utils', ['toggleLoader', 'toggleSnackbar']),

            async requestForm(){
                this.toggleLoader()
                let params = this.formatDataWildcard()
                let res = await this.createRequestForm(params)
                if (res.status == 201){
                    this.toggleSnackbar({text: res.data.message, color: 'success'})
                    this.request_form = false
                    this.form.type_of_request = null
                    this.request_type_col.LEAVE_FORM_REQUEST.number_of_days_or_hours = null
                    this.request_type_col.LEAVE_FORM_REQUEST.reasons_of_absence = null
                    this.request_type_col.CHANGE_SHIFT_REQUEST.reasons_or_justification = null
                    this.request_type_col.OVERTIME_REQUEST.purpose = null
                    this.request_type_col.OVERTIME_REQUEST.time_start = null
                    this.request_type_col.OVERTIME_REQUEST.time_finished = null
                    this.request_type_col.OVERTIME_REQUEST.total_no = null
                }
                else {
                    this.toggleSnackbar({text: res.data.message, color: 'error'})
                    this.request_form = true
                      
                }
                this.toggleLoader()
            },

            async requestUserData(){
                this.request_form = true
                await this.getUserData()
                this.form.employee_name = this.user_data.first_name
                this.form.employee_number = this.user_data.first_name
                this.form.date_hired = this.user_data.created_at
                this.form.department = 'SI DEV'
                this.form.position =this.user_data.job_title
            },

            cancelForm() {
                this.request_form = false
                this.form.type_of_request = ''
            },

            formatDataWildcard() {
                var final_params = {}
                final_params = this.form

                final_params.unique_column = this.request_type_col[this.form['type_of_request']]

                return final_params;
            },
            getDates(val) {

                if(this.form['type_of_request'] == 'LEAVE_FORM_REQUEST'){
                    this.request_type_col.LEAVE_FORM_REQUEST.inclusive_dates_from = moment(val.startDate).format('YYYY-MM-DD HH:mm:ss')
                    this.request_type_col.LEAVE_FORM_REQUEST.inclusive_dates_to = moment(val.endDate).format('YYYY-MM-DD HH:mm:ss')
                }else if(this.form['type_of_request'] == 'CHANGE_SHIFT_REQUEST'){
                    this.request_type_col.CHANGE_SHIFT_REQUEST.current_work_schedule = moment(val.startDate).format('YYYY-MM-DD hh:mm a') + ',' + moment(val.endDate).format('YYYY-MM-DD hh:mm a')
                    this.request_type_col.CHANGE_SHIFT_REQUEST.new_work_schedule = moment(val.startDate).format('YYYY-MM-DD hh:mm') + ',' + moment(val.endDate).format('YYYY-MM-DD hh:mm')
                }else if(this.form['type_of_request'] == 'OVERTIME_REQUEST'){
                    this.request_type_col.OVERTIME_REQUEST.date_of_overtime = moment(val.startDate).format('YYYY-MM-DD')
                    this.request_type_col.OVERTIME_REQUEST.time_start = moment(val.startDate).format('hh:mm a')
                    this.request_type_col.OVERTIME_REQUEST.time_finished = moment(val.endDate).format('hh:mm a') 
                }
                this.request_type_col.LEAVE_FORM_REQUEST.number_of_days_or_hours =  moment.duration(moment(val.endDate).diff( moment(val.startDate))).asDays()
                this.request_type_col.OVERTIME_REQUEST.total_no = moment.duration(moment(val.endDate).diff( moment(val.startDate))).asHours()
                
            }
        },

        data: () => ({
            request_type_col:{
                //Leave Fields
                LEAVE_FORM_REQUEST:{
                    inclusive_dates_from:null,
                    inclusive_dates_to:null,
                    number_of_days_or_hours:null,
                    reasons_of_absence:null,
                }, 
                //Change Shift Fields
                CHANGE_SHIFT_REQUEST:{
                    current_work_schedule:'',
                    new_work_schedule:'',
                    reasons_or_justification:'',
                },
                //Overtime Fields
                OVERTIME_REQUEST:{
                    date_of_overtime:'',
                    time_start:'',
                    time_finished:'',
                    total_no:'',
                    purpose:'',
                }
                   
            },
            form:{
                employee_name:'',
                employee_number:'',
                date_hired:'',
                department:'',
                position:'',
                type_of_request:'',
                },
            request_form:false,
            selected_item: null,
            items:[
                { text: 'Leave Form Request', value: 'LEAVE_FORM_REQUEST' },
                { text: 'Change Shift Request', value: 'CHANGE_SHIFT_REQUEST'},
                { text: 'Overtime Request', value: 'OVERTIME_REQUEST'}
            ]
        })
    }
</script>



<style lang="scss" scoped>

</style>